<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.edu_kg">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:name=".DataApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Edu_kg"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name=".pages.detail.DetailActivity"
            android:exported="true" />
        <activity
            android:name=".pages.user.HistoryActivity"
            android:exported="true" />
        <activity
            android:name=".pages.user.ModifyActivity"
            android:exported="true" />
        <activity
            android:name=".pages.search.SearchActivity"
            android:exported="true"/>
        <activity
            android:name=".pages.result.ResultActivity"
            android:exported="true"/>
        <activity
            android:name=".pages.test.TestActivity"
            android:exported="true"/>
        <activity
            android:name=".pages.user.LogActivity"
            android:exported="true" />
        <activity
            android:name=".pages.link.LinkActivity"
            android:exported="true"/>
        <activity
            android:name=".pages.outline.OutlineActivity"
            android:exported="true"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/network_security_config" />
    </application>

</manifest>